# Application Port & Region
PORT=3001
AWS_REGION=us-east-1

# DynamoDB Table Names
USERS_TABLE=UsersTable
DECKS_TABLE=DecksTable
ROOM_TABLE=LorcanaRoomStateV2
MATCHMAKING_TABLE=LorcanaMatchmaking

# SQS Queue URL
LORCANA_SQS_URL=

# JWT Authentication Secret (Generate a strong random secret for production)
JWT_SECRET=your_jwt_secret_here
